/* Section Accueil */
#accueil {
    background-color: #ffebcd; /* Fond clair beige */
    padding: 50px;
    text-align: center;
}

#accueil h1 {
    color: #2e2e2e; /* Texte du titre en gris foncé pour bien ressortir */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#accueil p {
    color: #555; /* Texte des paragraphes en gris moyen */
    font-size: 1.2rem;
}

#accueil a {
    color: #009688; /* Couleur du lien en vert pour qu'il ressorte */
    text-decoration: none;
    font-weight: bold;
}

/* Texte de la phrase "Découvrir les destinations" */
#accueil-text {
    color: #333; /* Texte en gris foncé */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
